.calContainer {
    display: flex;
    flex-wrap: wrap;
    min-width: 50vw;
    justify-content: left;
    border: 1px solid black;
}

.dayLabels {
    display: flex;
}

.dayLabels div {
    text-align: center;
    width: calc((100% / 7) - 1%);
    margin: 0.5%;

}